@utility admin-btn {
  @apply select-none flex items-center p-2 gap-2 rounded-lg border border-black/20 leading-none text-sm bg-transparent transition-all duration-100 hover:bg-gray-400/15 active:bg-gray-700/10 outline-hidden ring-0 focus-visible:ring-4 ring-purple-500/40 focus-visible:border-purple-700;
}

@utility admin-dropdown-content {
  @apply bg-purple-100 rounded-lg border border-gray-400 shadow-black/10 shadow-md;

  &.individual-focus {
    @apply has-[.admin-dropdown-content-clickable:hover]:[&_.admin-dropdown-content-clickable]:blur-[1px] [&_.admin-dropdown-content-clickable]:hover:blur-none!;
  }
}

@utility admin-dropdown-content-clickable {
  @apply flex items-center gap-2 px-3 py-0.5 transition-all duration-75 rounded-md hover:bg-purple-500/20 active:bg-purple-500/40 cursor-default active:cursor-pointer outline-hidden ring-purple-500/40 ring-0 focus-visible:ring-2;
}

@utility admin-layout {
  width: 100%;
  min-height: 100%;
  height: auto;
  display: grid;
  align-content: start;
  grid-template-areas:
    "header header"
    "aside main"
    "footer footer";
  grid-template-columns: max-content 1fr;
  grid-template-rows: min-content 1fr min-content;
  gap: 2rem;
}

@utility admin-main-container {
  grid-area: main;
  margin-right: 1.5rem;
  justify-self: center;
  align-self: start;
  width: stretch;
  width: -webkit-fill-available;
  width: -moz-available;
  max-width: var(--breakpoint-main);
}

@utility admin-droppable-arrow-bottom-drop-shadow {
  @-moz-document url-prefix() {
    @apply group-data-[side=bottom]:drop-shadow-[0_-1px_0_var(--tw-shadow-color)]!;
  }
}

@utility admin-list-card {
  display: flex;
  align-items: center;
  gap: calc(var(--spacing) * 12);
  padding-block: calc(var(--spacing) * 2);
  padding-inline: calc(var(--spacing) * 5);
  border-bottom: 1px solid var(--color-gray-300);

  &:hover {
    background: color-mix(in oklab, var(--color-white) 30%, transparent);
  }
}

@layer base {
  #editor,
  .editor-styles {
    border: 1px solid color-mix(in oklab, var(--color-black) 20%, transparent);
    border-radius: var(--radius-lg);
    padding: calc(var(--spacing) * 2.5);
    outline: none;
    min-height: 300px;
    max-width: calc(var(--article-content-width) + var(--spacing) * 3 * 2) !important;
    @apply ring-0 ring-inset ring-purple-500 focus:ring-2;
    /* & * {
      outline: hidden;
    } */
  }
}
