@import "./public.css";
@import "./admin.css";

@import "tailwindcss";
@plugin "@tailwindcss/typography";

@theme {
  --article-content-width: var(--container-article-content);

  --color-\*: initial;
  --color-black: #000000;
  --color-white: #ffffff;
  --color-transparent: transparent;

  --color-gray-100: #f6f6f6;
  --color-gray-200: #efefef;
  --color-gray-250: #e0e0e0;
  --color-gray-300: #dddddd;
  --color-gray-400: #c0c0c0;
  --color-gray-700: #555555;
  --color-gray-800: #303037;

  --color-blue-200: #e6f8ff;
  --color-blue-500: #0997e8;
  --color-blue-600: #097ee3;
  --color-blue-700: #0075ff;

  --color-green-300: #14ff48;
  --color-green-500: #27c13f;
  --color-green-600: #23ae39;
  --color-green-700: #10a530;

  --color-purple-100: #f5eaf9;
  --color-purple-300: #e942e9;
  --color-purple-500: #bc36d8;
  --color-purple-700: #8e2eb8;

  --color-red-700: #ca5757;
  --color-red-800: #942d46;

  --color-yellow-200: #fcff7e;
  --color-yellow-400: #ffd600;
  --color-yellow-500: #efba00;
  --color-yellow-700: #ffb800;
  --color-yellow-800: #d3a200;
  --color-yellow-900: #9d4200;

  --font-\*: initial;
  --font-default: Kanit, ui-sans-serif, system-ui;
  --font-rowdies: Rowdies, Kanit, ui-sans-serif, system-ui;

  --breakpoint-main: var(--container-main);
  --container-main: 1392px;
  --container-main-center-content: 768px;
  --container-article-content: 744px;

  --animate-top-bg: topBgKeyframe 50s linear infinite;
  --animate-slide-down-and-fade: slideDownAndFade 400ms cubic-bezier(0.16, 1, 0.3, 1);
  --animate-slide-down-and-fade-reverse: slideDownAndFadeReverse 400ms cubic-bezier(0.16, 1, 0.3, 1);
  --animate-slide-left-and-fade: slideLeftAndFade 400ms cubic-bezier(0.16, 1, 0.3, 1);
  --animate-slide-left-and-fade-reverse: slideLeftAndFadeReverse 400ms cubic-bezier(0.16, 1, 0.3, 1);
  --animate-slide-up-and-fade: slideUpAndFade 400ms cubic-bezier(0.16, 1, 0.3, 1);
  --animate-slide-up-and-fade-reverse: slideUpAndFadeReverse 400ms cubic-bezier(0.16, 1, 0.3, 1);
  --animate-slide-right-and-fade: slideRightAndFade 400ms cubic-bezier(0.16, 1, 0.3, 1);
  --animate-slide-right-and-fade-reverse: slideRightAndFadeReverse 400ms
    cubic-bezier(0.16, 1, 0.3, 1);
  --animate-scale-up-and-fade: scaleUpAndFade 400ms cubic-bezier(0.16, 1, 0.3, 1);
  --animate-scale-up-and-fade-reverse: scaleUpAndFadeReverse 400ms cubic-bezier(0.16, 1, 0.3, 1);
  --animate-dialog-scale-up-and-fade: dialogScaleUpAndFade 400ms cubic-bezier(0.16, 1, 0.3, 1) both;
  --animate-dialog-scale-up-and-fade-reverse: dialogScaleUpAndFadeReverse 400ms
    cubic-bezier(0.16, 1, 0.3, 1) both;
  --animate-radix-accordion-slide: radixAccordionSlide 300ms cubic-bezier(0.87, 0, 0.13, 1);
  --animate-radix-accordion-slide-reverse: radixAccordionSlideReverse 300ms
    cubic-bezier(0.87, 0, 0.13, 1);

  @keyframes topBgKeyframe {
    0% {
      background-position-x: 0px;
    }
    100% {
      background-position-x: 1366px;
    }
  }
  @keyframes slideDownAndFade {
    from {
      opacity: 0;
      transform: translateY(-2px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  @keyframes slideDownAndFadeReverse {
    from {
      opacity: 1;
      transform: translateY(0);
    }
    to {
      opacity: 0;
      transform: translateY(-2px);
    }
  }
  @keyframes slideLeftAndFade {
    from {
      opacity: 0;
      transform: translateX(2px);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }
  @keyframes slideLeftAndFadeReverse {
    from {
      opacity: 1;
      transform: translateX(0);
    }
    to {
      opacity: 0;
      transform: translateX(2px);
    }
  }
  @keyframes slideUpAndFade {
    from {
      opacity: 0;
      transform: translateY(2px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  @keyframes slideUpAndFadeReverse {
    from {
      opacity: 1;
      transform: translateY(0);
    }
    to {
      opacity: 0;
      transform: translateY(2px);
    }
  }
  @keyframes slideRightAndFade {
    from {
      opacity: 0;
      transform: translateX(-2px);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }
  @keyframes slideRightAndFadeReverse {
    from {
      opacity: 1;
      transform: translateX(0);
    }
    to {
      opacity: 0;
      transform: translateX(-2px);
    }
  }
  @keyframes scaleUpAndFade {
    from {
      opacity: 0;
      transform: scale(0.9);
    }
    to {
      opacity: 1;
      transform: scale(1);
    }
  }
  @keyframes scaleUpAndFadeReverse {
    from {
      opacity: 1;
      transform: scale(1);
    }
    to {
      opacity: 0;
      transform: scale(0.9);
    }
  }
  @keyframes dialogScaleUpAndFade {
    from {
      opacity: 0;
      transform: translate(-50%, -50%) scale(0.9);
    }
    to {
      opacity: 1;
      transform: translate(-50%, -50%) scale(1);
    }
  }
  @keyframes dialogScaleUpAndFadeReverse {
    from {
      opacity: 1;
      transform: translate(-50%, -50%) scale(1);
    }
    to {
      opacity: 0;
      transform: translate(-50%, -50%) scale(0.9);
    }
  }
  @keyframes radixAccordionSlide {
    from {
      height: 0px;
    }
    to {
      height: var(--radix-accordion-content-height);
    }
  }
  @keyframes radixAccordionSlideReverse {
    from {
      height: var(--radix-accordion-content-height);
    }
    to {
      height: 0px;
    }
  }
}

@custom-variant button-like-disabled {
  &:is(button:disabled, [role="button"][data-disabled="disabled"]) {
    @slot;
  }
}

@custom-variant button-like-enabled {
  &:is(button:not(:disabled), button:enabled, [role="button"][data-disabled="enabled"]) {
    @slot;
  }
}

@utility w-full-mx {
  width: calc(100% - 48px);
}

@utility pixelated {
  image-rendering: pixelated;
}

@utility font-kanis {
  font-family: Kanit, sans-serif;
}

@utility font-rowdies {
  font-family: Rowdies, Kanit, sans-serif;
}

@utility highlight-member-name-stroke {
  @supports (-webkit-text-stroke: 2px black) {
    -webkit-text-stroke: 2px black;
    -webkit-text-fill-color: white;
  }
}

@utility article-content {
  font-family: var(--font-default);
  font-size: var(--text-sm);

  image-rendering: pixelated;

  .article-rounded-img {
    border-radius: calc(var(--spacing) * 3);
  }

  & * {
    max-width: var(--article-content-width);
  }

  p,
  div,
  code,
  pre,
  blockquote {
    display: block;
    word-wrap: break-word;

    &:not(:last-child) {
      margin-bottom: calc(var(--spacing) * 3);
    }
  }

  img {
    display: inline-block;
    margin: unset;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    height: 43px;
    width: var(--article-content-width);
    border-radius: 7px;

    color: var(--color-white);
    font-size: calc(var(--spacing) * 4);
    font-family: var(--font-rowdies);

    text-transform: capitalize;
    text-align: center;
    line-height: 40px;

    text-shadow: 0px 3px color-mix(in oklab, var(--color-black) 25%, transparent);

    filter: drop-shadow(0px 2px 0px color-mix(in oklab, var(--color-black) 25%, transparent));
    image-rendering: pixelated;

    &:not(:first-child) {
      margin-top: calc(var(--spacing) * 4);
    }
    &:not(:last-child) {
      margin-bottom: calc(var(--spacing) * 4);
    }
  }
  h1 {
    background: url("/www/assets/icons-sprite.png") no-repeat 0 -543px;
  }
  h2 {
    background: url("/www/assets/icons-sprite.png") no-repeat 0 -586px;
    color: var(--color-yellow-900);
    text-shadow: 0px 2px color-mix(in oklab, var(--color-yellow-200) 100%, transparent);
  }
  h3 {
    background: url("/www/assets/icons-sprite.png") no-repeat 0 -629px;
  }
  h4 {
    background: url("/www/assets/icons-sprite.png") no-repeat 0 -672px;
  }
  h5 {
    background: url("/www/assets/icons-sprite.png") no-repeat 0 -715px;
  }
  h6 {
    background: url("/www/assets/icons-sprite.png") no-repeat 0 -758px;
  }

  pre {
    display: block;
    padding: calc(var(--spacing) * 2) calc(var(--spacing) * 3);
    border-radius: calc(var(--spacing) * 2);
    border: 2px solid var(--color-gray-400);
    background: var(--color-gray-100);
    font-family: var(--font-default);
    color: var(--color-gray-800);
  }

  blockquote {
    background: var(--color-gray-200);
    padding-block: calc(var(--spacing) * 3);
    padding-right: calc(var(--spacing) * 3);
    padding-left: calc(var(--spacing) * 4);
    border-left: 2px solid var(--color-purple-500);
    border-start-end-radius: calc(var(--spacing) * 2);
    border-end-end-radius: calc(var(--spacing) * 2);
  }

  hr {
    border: none;
    width: 100%;
    height: 2px;
    background: var(--color-gray-250);
    margin-block: calc(var(--spacing) * 4);
  }

  a,
  a span {
    text-decoration-style: wavy !important;
    text-decoration-color: color-mix(in oklab, currentcolor 70%, transparent) !important;
  }
}

@layer base {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration-style: wavy;
  }

  :root {
    @apply font-kanis;
  }

  #app {
    @apply h-full;
  }

  /*
    The default border color has changed to `currentColor` in Tailwind CSS v4,
    so we've added these compatibility styles to make sure everything still
    looks the same as it did with Tailwind CSS v3.

    If we ever want to remove these styles, we need to add an explicit border
    color utility to any element that depends on these defaults.
  */
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }

  button:not(:disabled),
  [role="button"]:not(:disabled) {
    cursor: default;
    &:enabled:active {
      cursor: pointer;
    }
  }

  ::selection,
  ::-moz-selection {
    color: var(--color-purple-700);
    background: var(--color-yellow-500);
    text-shadow: none;
  }
}
