@use "./public.scss";
@use "./admin.scss";

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        text-decoration: wavy;
    }

    :root {
        @apply font-kanis
    }

    #app {
        @apply h-full;
    }
}


@layer utilities {
    .w-full-mx {
        width: calc(100% - 48px);
    }

    .pixelated {
        image-rendering: pixelated;
    }

    .font-kanis {
        font-family: Kanit, sans-serif;
    }

    .font-rowdies {
        font-family: Rowdies, Kanit, sans-serif;
    }

    @supports (-webkit-text-stroke: 2px black) {
        .highlight-member-name-stroke {
            -webkit-text-stroke: 2px black;
            -webkit-text-fill-color: white;
        }
    }
}
