@utility highlight-member-name-stroke {
  @supports (-webkit-text-stroke: 2px black) {
    -webkit-text-stroke: 2px black;
    -webkit-text-fill-color: white;
  }
}

@utility main-screen-centralized {
  @apply max-w-(--breakpoint-main) w-[calc(100%_-_48px)] mx-auto;
}

@utility navbar-item {
  @apply relative border-r-2 border-black flex items-center
        justify-center gap-3 px-6 text-white font-bold select-none

        ring-purple-500 ring-0 focus-visible:ring-4 transition-all duration-100
        focus-visible:z-10 outline-hidden

        hover:bg-black/10 active:bg-black/20;
}

@utility section-header {
  background: linear-gradient(180deg, var(--tw-gradient-from) 50%, var(--tw-gradient-to) 50%);
  @apply rounded-[7px] border-2 border-gray-800 px-3 py-2.5 leading-tight shadow-white/50 shadow-[inset_0_2px_0_0];

  & > span,
  & > :where(h1, h2, h3, h4, h5, h6) {
    color: var(--color-white);
    font-size: var(--text-lg);
    font-weight: var(--font-weight-bold);
    text-shadow: 0 2.5px color-mix(in oklab, var(--color-black) 30%, transparent);
  }

  &.purple {
    @apply from-purple-500 to-purple-700;
  }
  &.blue {
    @apply from-blue-500 to-blue-700;
  }
  &.green {
    @apply from-green-500 to-green-600;
  }
  &.yellow {
    text-shadow: 0 2px rgba(255 255 255 / 50%);
    @apply from-yellow-500 to-yellow-700 text-black;
  }
  &.gray {
    @apply from-gray-100 to-gray-300;
    border-color: var(--color-gray-800);

    & > span,
    & > :where(h1, h2, h3, h4, h5, h6) {
      text-shadow: 0 2px rgba(255 255 255 / 50%);
      color: var(--color-gray-700);
    }
  }
}

@utility btn {
  border-radius: calc(var(--spacing) * 1.5);
  background-color: var(--color-gray-200);
  border: 2px solid var(--color-gray-700);
  outline: none;

  @apply focus-visible:ring-4 ring-black/15;

  --btn-upper-shadow: var(--color-white);
  --btn-bottom-shadow: color-mix(in oklab, var(--color-black) 10%, var(--color-transparent));

  --btn-upper-text-shadow: color-mix(in oklab, var(--color-black) 10%, transparent);
  --btn-bottom-text-shadow: color-mix(in oklab, var(--color-white) 70%, transparent);

  @variant button-like-enabled {
    &:hover {
      background-color: var(--color-gray-250);
    }

    &:active {
      background-color: var(--color-gray-300);
    }

    text-shadow:
      0 -2px 0 var(--btn-upper-text-shadow),
      0 2px 0 var(--btn-bottom-text-shadow);

    box-shadow:
      inset 0 3px 0 0 var(--btn-upper-shadow),
      inset 0 -3px 0 0 var(--btn-bottom-shadow),
      var(--tw-ring-offset-shadow),
      var(--tw-ring-shadow);
  }
}

@utility btn-success {
  background-color: var(--color-green-500);
  color: var(--color-white);
  border: 2px solid var(--color-green-700);
  outline: none;
  border-radius: calc(var(--spacing) * 1.5);

  --btn-upper-shadow: color-mix(in oklab, var(--color-white) 50%, var(--color-transparent));
  --btn-bottom-shadow: color-mix(in oklab, var(--color-black) 10%, var(--color-transparent));

  --btn-upper-text-shadow: color-mix(in oklab, var(--color-black) 10%, transparent);
  --btn-bottom-text-shadow: color-mix(in oklab, var(--color-white) 30%, transparent);

  @apply ring-green-500/40 focus-visible:ring-4;

  @variant button-like-disabled {
    @apply opacity-75;
  }

  @variant button-like-enabled {
    text-shadow:
      0 -2px 0 var(--btn-upper-text-shadow),
      0 2px 0 var(--btn-bottom-text-shadow);

    &:hover {
      filter: brightness(0.95);
    }

    &:active {
      filter: brightness(0.9);
    }

    box-shadow:
      inset 0 2px 0 0 var(--btn-upper-shadow),
      inset 0 -2px 0 0 var(--btn-bottom-shadow),
      var(--tw-ring-offset-shadow),
      var(--tw-ring-shadow);
  }
}

@utility btn-yellow {
  border-radius: calc(var(--spacing) * 1.5);
  background: var(--color-yellow-400);
  border: 2px solid var(--color-yellow-800);
  color: var(--color-black);
  transition-property: all;
  transition-timing-function: var(
    --tw-ease,
    var(--default-transition-timing-function) /* cubic-bezier(0.4, 0, 0.2, 1) */
  );
  transition-duration: 150ms;
  will-change: shadow, filter;
  outline: none;

  --btn-upper-shadow: color-mix(in oklab, var(--color-white) 50%, var(--color-transparent));
  --btn-bottom-shadow: color-mix(in oklab, var(--color-black) 10%, var(--color-transparent));

  --btn-upper-text-shadow: color-mix(in oklab, var(--color-black) 10%, transparent);
  --btn-bottom-text-shadow: color-mix(in oklab, var(--color-white) 30%, transparent);

  @apply ring-yellow-500/40 focus-visible:ring-4;

  @variant button-like-disabled {
    opacity: 0.7;
  }

  @variant button-like-enabled {
    &:hover {
      filter: brightness(0.95);
    }

    &:active {
      filter: brightness(0.9);
    }

    text-shadow:
      0 -2px 0 var(--btn-upper-text-shadow),
      0 2px 0 var(--btn-bottom-text-shadow);

    box-shadow:
      inset 0 2px 0 0 var(--btn-upper-shadow),
      inset 0 -2px 0 0 var(--btn-bottom-shadow),
      var(--tw-ring-offset-shadow),
      var(--tw-ring-shadow);
  }
}

@utility btn-black {
  background: var(--color-gray-800);
  border-radius: calc(var(--spacing) * 1.5);
  border: 2px solid var(--color-black);
  color: var(--color-white);
  transition-property: all;
  transition-timing-function: var(
    --tw-ease,
    var(--default-transition-timing-function) /* cubic-bezier(0.4, 0, 0.2, 1) */
  );
  transition-duration: 150ms;
  will-change: shadow, filter;
  outline: none;

  --btn-upper-shadow: color-mix(in oklab, var(--color-white) 25%, var(--color-transparent));
  --btn-bottom-shadow: color-mix(in oklab, var(--color-black) 25%, var(--color-transparent));

  --btn-upper-text-shadow: color-mix(in oklab, var(--color-black) 40%, var(--color-transparent));
  --btn-bottom-text-shadow: color-mix(in oklab, var(--color-white) 25%, var(--color-transparent));

  @apply focus-visible:ring-4 ring-purple-100/40;

  @variant button-like-enabled {
    &:hover {
      filter: brightness(0.95);
    }

    &:active {
      filter: brightness(0.9);
    }

    text-shadow:
      0 -2px 0 var(--btn-upper-text-shadow),
      0 2px 0 var(--btn-bottom-text-shadow);

    box-shadow:
      inset 0 3px 0 0 var(--btn-upper-shadow),
      inset 0 -2px 0 0 var(--btn-bottom-shadow),
      var(--tw-ring-offset-shadow),
      var(--tw-ring-shadow);
  }
}

@utility btn-ghost-success {
  border-radius: calc(var(--spacing) * 1.5);
  background-color: var(--color-transparent);
  will-change: background-color, shadow;
  color: var(--color-green-500);
  outline: none;

  @variant button-like-enabled {
    &:hover {
      background-color: color-mix(in oklab, var(--color-green-500) 15%, var(--color-transparent));
    }

    &:active {
      background-color: color-mix(in oklab, var(--color-green-500) 25%, var(--color-transparent));
    }
  }

  @apply ring-inset ring-0 focus-visible:ring-4 ring-green-500/40 focus-visible:bg-green-500/10;

  @variant button-like-disabled {
    @apply opacity-75;
  }
}

@utility btn-arrow-green {
  /* arrow buttons */
  @apply grid place-items-center size-7 rounded-md border-2 border-black transition-[background] duration-100
            bg-green-500 shadow-white/40 shadow-[inset_0_0_0_2px]
            enabled:hover:bg-green-600 enabled:active:bg-green-700 enabled:active:brightness-95
            outline-hidden ring-0 focus:ring-4 ring-green-300
            disabled:saturate-0;
}

@utility text-input {
  @apply block w-full bg-white px-4 py-3 rounded-md border-2 border-gray-400 text-sm placeholder:text-gray-700
        text-gray-800 outline-hidden ring-0 enabled:shadow-black/10 enabled:shadow-[inset_0_2px__0_0]
        focus-visible:border-purple-700 ring-purple-500/40 focus-visible:ring-4 transition-all will-change-[box-shadow]

        disabled:bg-gray-200
        data-invalid:border-red-700 data-invalid:ring-red-700/40;
}

@utility card {
  @apply rounded-lg ring-inset ring-2 ring-black/25 bg-white p-3 shadow-black/10 shadow-[0_2px_0_0];
}

@utility dialog-close-btn {
  @apply transition-all duration-150 will-change-[shadow]
            outline-hidden ring-0 focus-visible:ring-4 ring-purple-100 rounded-md
            hover:brightness-90 active:brightness-75;
}

@utility public-droppable-arrow-bottom-drop-shadow {
  @-moz-document url-prefix() {
    @apply group-data-[side=bottom]:drop-shadow-[0_-2px_0_black]!;
  }
}
